POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ecommerce

POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_DATABASE=ecommerce
POSTGRESQL_SERVER=db
POSTGRESQL_PORT=5432

SECRET_KEY=deepvisionh2m
JWT_SECRET_KEY=deepvisionh2m
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60