POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ecommerce

DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/ecommerce

SECRET_KEY=deepvisionh2m
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60